{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "module-resolver",
          { "root": ["./"] }
        ],
        ["import", { "libraryName": "antd" }],
        "react-intl"
      ]
    },
    "production": {
      "plugins": [
        [
          "module-resolver",
          { "root": ["./"] }
        ],
        ["import", { "libraryName": "antd" }],
        ["react-intl", {
          "messagesDir": "lang/.messages/"
        }]
      ]
    }
  }
}